* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #f1f1f1;
    height: 100vh;
    overscroll-behavior: none;
    overflow: auto;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    --main-color: rgb(1, 171, 32);
}