* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --main-color: rgb(1, 171, 32);
}

body {
    background-color: #f1f1f1;
    height: 100vh;
}