.keyboard {
    width: 100%;
    display: grid;
    gap: 10px;
    margin: 10px;
}

.keyboard_row {
    display: grid;
    gap: 10px;
}

.row_1 {
    grid-template-columns: repeat(13, 1fr) 2fr;
}

.row_2 {
    grid-template-columns: 1.75fr repeat(12, 1fr) 1.75fr;
}

.row_3 {
    grid-template-columns: 2fr repeat(11, 1fr) 2fr;
}

.row_4 {
    grid-template-columns: 2.25fr repeat(10, 1fr) 2.25fr;
}

.row_5 {
    justify-items: center;
    grid-template-columns: 1fr;
}

