.stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}


@media only screen and (max-width: 700px) {
    .stats {
        font-size: 1.2rem;
    }
}