.key {
    border: 1px solid black;
    border-radius: 5px;
    height: 5vh;
    max-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.8);
    background-color: white;
}

.pressed {
    background-color: black;
    color: white;
}